body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

.content {
    margin: 20px;
    color: #343a40;
}

.card-img {
    max-height: 200px;
    object-fit: cover;
}

.card-title {
    color: #343a40;
    font-weight: bold;
}

.card-text {
    color: #343a40;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5) !important;
}

.carousel-item img {
    max-width: 55% !important; /* Ajusta este valor según tus necesidades */
    height: auto !important; /* Mantiene la relación de aspecto de la imagen */
    margin-left: auto !important; /* Centra la imagen horizontalmente */
    margin-right: auto !important; /* Centra la imagen horizontalmente */
}
